@page
@model HoaiEventManager.WebApp.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Đăng xuất";
}

<h3>Bạn có chắc chắn muốn đăng xuất không?</h3>

<form method="post">
    <button type="submit" class="btn btn-danger">Đăng xuất</button>
    <a class="btn btn-secondary" href="/">Hủy</a>
</form>

