<footer class="bg-dark text-white mt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <h5 class="fw-bold text-uppercase" style="color: var(--bs-primary);">HoaiEvent</h5>
                <p class="text-white-50">Nền tảng quản lý và đặt vé sự kiện hàng đầu, giúp bạn dễ dàng khám phá và tham gia những sự kiện hấp dẫn nhất.</p>
            </div>
            <div class="col-lg-2 col-6 mb-4">
                <h5 class="fw-bold">Về chúng tôi</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white-50">Giới thiệu</a></li>
                    <li><a href="#" class="text-white-50">Tuyển dụng</a></li>
                    <li><a href="#" class="text-white-50">Báo chí</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 mb-4">
                <h5 class="fw-bold">Hỗ trợ</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white-50">Liên hệ</a></li>
                    <li><a href="#" class="text-white-50">FAQs</a></li>
                    <li><a href="#" class="text-white-50">Chính sách</a></li>
                </ul>
            </div>
            <div class="col-lg-4 mb-4">
                <h5 class="fw-bold">Kết nối với chúng tôi</h5>
                <p class="text-white-50">Đừng bỏ lỡ những thông tin mới nhất từ chúng tôi!</p>
                <div>
                    <a href="#" class="btn btn-outline-light btn-floating m-1" role="button"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="btn btn-outline-light btn-floating m-1" role="button"><i class="bi bi-youtube"></i></a>
                    <a href="#" class="btn btn-outline-light btn-floating m-1" role="button"><i class="bi bi-instagram"></i></a>
                </div>
            </div>
        </div>
        <hr class="text-white-50">
        <div class="text-center text-white-50 pt-3">
            &copy; @DateTime.Now.Year HoaiEventManager. All Rights Reserved.
        </div>
    </div>
</footer>

<style>
    .bg-dark {
        background-color: rgb(var(--bs-dark-rgb)) !important;
    }

    footer a {
        text-decoration: none;
        transition: color 0.2s ease;
    }

        footer a:hover {
            color: #fff !important;
        }
</style>